body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
}

#container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #26004d;
  background-image: radial-gradient(at 36% 85%, hsla(44, 92%, 68%, 1) 0, hsla(44, 92%, 68%, 0) 50%),
  radial-gradient(at 88% 3%, hsla(98, 85%, 60%, 1) 0, hsla(98, 85%, 60%, 0) 50%),
  radial-gradient(at 66% 25%, hsla(122, 90%, 60%, 1) 0, hsla(122, 90%, 60%, 0) 50%),
  radial-gradient(at 93% 17%, hsla(252, 95%, 64%, 1) 0, hsla(252, 95%, 64%, 0) 50%),
  radial-gradient(at 61% 68%, hsla(95, 87%, 54%, 1) 0, hsla(95, 87%, 54%, 0) 50%),
  radial-gradient(at 55% 12%, hsla(86, 89%, 62%, 1) 0, hsla(86, 89%, 62%, 0) 50%),
  radial-gradient(at 73% 38%, hsla(229, 91%, 67%, 1) 0, hsla(229, 91%, 67%, 0) 50%);
}

#list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 32px;
  gap: 32px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
  backdrop-filter: blur(8px);
}

.pendientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 1rem;
}

.hechas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 1rem;
}

.hechas .task {
  text-decoration: line-through;
}

#task-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18rem;
  font-weight: 500;
  color: #4978d1;
  padding: 1rem 2rem;
  border: 2px solid #4978d1;
  border-radius: 40px;
  font-size: 2rem;
  
}

.task button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #4978d1;
  cursor: pointer;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  color: whitesmoke;
  margin: 0;
}

#add-task:hover{
  cursor: pointer;
  color: whitesmoke;
  background-color: #4978d1;
}
